.wrapper_career{
  height:100%;
  background-color:black;
}
.container_career{
  padding-top:5%;
  padding-bottom:20%;
  display: flex;
  flex-direction: column;
}
.container_career h1{
  color:white;
  font-size: 4em;
  text-align: left;
  padding-left: 10%;
}
.row_career{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 /* margin-top:50px;*/
}
.jobs{
  display:flex;
  flex-direction: column;
  color:white;
  width:256px;
  align-items: center;
}
.jobs span{
  margin-top:10px;
  font-weight: bold;
}

.bars{
  text-align: left;
  padding-left: 10%;
}
.barContainer{
  display:flex;
  flex-direction: row;
  color: white;
}
.bar {
  width:50%;
  height:50px;
  background-color: aquamarine;
  margin-bottom:10px;
  animation-name: fadeAni;
  animation-duration: 1s;
}
.aboutMe{
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 18px;
}

@keyframes fadeAni {
  from {width:0%;}
  to {width:50%;}
}
