.wrapper_education{
  height:100%;
  background-color:#174DC8;
}
.container_education{
  padding-top:5%;
  padding-bottom:15%;
  display: flex;
  flex-direction: column;
}
.container_education h1{
  color:white;
  font-size: 4em;
  text-align: left;
  padding-left: 10%;
}
.row_education{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:50px;
}
.education{
  display:flex;
  flex-direction: column;
  color:white;
  width:256px;
  align-items: center;
}

.education span{
  margin-top:10px;
  font-size:1em;
}

@media only screen and (max-width: 600px) {
  .row_education{
    flex-direction: column;
    align-items: center;
  }
  .education{
    margin-bottom: 40px;
  }
}